*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right, rgb(143, 196, 214),rgba(0, 0, 139, 0.776));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 600px;
    padding: 20px;
}

#quiz-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#question-number, #total-questions {
    font-weight: bold;
}

#question-container {
    margin-bottom: 20px;
}

#question {
    font-size: 20px;
    margin-bottom: 10px;
}

#options-container {
    display: flex;
    flex-direction: column;
}

.option {
    background: #f1f1f1;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.option:hover {
    background: #ddd;
}

#next-button {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#next-button:hover {
    background: #0056b3;
}
